In [52]:
import pandas as pd
supply_chain_data = pd.read_csv("./supply_chain_data.csv")
supply_chain_data

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,haircare,SKU95,77.903927,65,672,7386.363944,Unknown,15,14,26,...,Mumbai,18,450,26,58.890686,Pending,1.210882,Air,Route A,778.864241
96,cosmetics,SKU96,24.423131,29,324,7698.424766,Non-binary,67,2,32,...,Mumbai,28,648,28,17.803756,Pending,3.872048,Road,Route A,188.742141
97,haircare,SKU97,3.526111,56,62,4370.916580,Male,46,19,4,...,Mumbai,10,535,13,65.765156,Fail,3.376238,Road,Route A,540.132423
98,skincare,SKU98,19.754605,43,913,8525.952560,Female,53,1,27,...,Chennai,28,581,9,5.604691,Pending,2.908122,Rail,Route A,882.198864
99,haircare,SKU99,68.517833,17,627,9185.185829,Unknown,55,8,59,...,Chennai,29,921,2,38.072899,Fail,0.346027,Rail,Route B,210.743009

In [53]:
print(supply_chain_data.columns)

Index(['Product type', 'SKU', 'Price', 'Availability',
       'Number of products sold', 'Revenue generated', 'Customer demographics',
       'Stock levels', 'Lead times', 'Order quantities', 'Shipping times',
       'Shipping carriers', 'Shipping costs', 'Supplier name', 'Location',
       'Lead time', 'Production volumes', 'Manufacturing lead time',
       'Manufacturing costs', 'Inspection results', 'Defect rates',
       'Transportation modes', 'Routes', 'Costs'],
      dtype='object')

In [54]:
# Task 1: My main objective here is to analyze the reenue generated by each product type broken down by the customer demographics


revenue_generated = supply_chain_data.groupby(["Product type", "Customer demographics", "Location"])["Revenue generated"].sum()
revenue_generated = revenue_generated.reset_index()
revenue_generated

   Product type Customer demographics   Location  Revenue generated
0     cosmetics                Female  Bangalore       16676.440899
1     cosmetics                Female    Chennai       11314.009494
2     cosmetics                Female      Delhi       19604.500784
3     cosmetics                Female    Kolkata        8318.903195
4     cosmetics                Female     Mumbai       13634.687826
5     cosmetics                  Male    Chennai        7910.886916
6     cosmetics                  Male      Delhi        1935.206794
7     cosmetics                  Male     Mumbai       11544.871788
8     cosmetics            Non-binary  Bangalore        2633.121981
9     cosmetics            Non-binary    Chennai        5149.998350
10    cosmetics            Non-binary    Kolkata        1061.618523
11    cosmetics            Non-binary     Mumbai       17390.742806
12    cosmetics               Unknown    Chennai        7087.052696
13    cosmetics               Unknown      Delhi       15889.969753
14    cosmetics               Unknown    Kolkata       14783.050138
15    cosmetics               Unknown     Mumbai        6586.204057
16     haircare                Female  Bangalore        7014.887987
17     haircare                Female      Delhi        5709.945296
18     haircare                  Male  Bangalore       27960.412629
19     haircare                  Male    Chennai       10401.803509
20     haircare                  Male      Delhi        2925.675170
21     haircare                  Male    Kolkata        4941.119421
22     haircare                  Male     Mumbai        4370.916580
23     haircare            Non-binary  Bangalore       14267.290447
24     haircare            Non-binary    Chennai        2556.767361
25     haircare            Non-binary    Kolkata        6088.021480
26     haircare            Non-binary     Mumbai       16059.067797
27     haircare               Unknown  Bangalore        2411.754632
28     haircare               Unknown    Chennai       15764.878063
29     haircare               Unknown      Delhi        5990.280300
30     haircare               Unknown    Kolkata       23998.572346
31     haircare               Unknown     Mumbai       23993.997587
32     skincare                Female  Bangalore        8293.407394
33     skincare                Female    Chennai       14047.157819
34     skincare                Female      Delhi       16032.133336
35     skincare                Female    Kolkata       24543.430678
36     skincare                Female     Mumbai       16324.984415
37     skincare                  Male  Bangalore        4052.738416
38     skincare                  Male    Chennai        9655.135103
39     skincare                  Male      Delhi        8232.334829
40     skincare                  Male    Kolkata       23267.530496
41     skincare                  Male     Mumbai        9435.762609
42     skincare            Non-binary  Bangalore       19291.669497
43     skincare            Non-binary    Chennai        1889.073590
44     skincare            Non-binary      Delhi        4707.654962
45     skincare            Non-binary    Kolkata       20503.754242
46     skincare            Non-binary     Mumbai        4767.020484
47     skincare               Unknown    Chennai       33366.052848
48     skincare               Unknown    Kolkata        9571.550487
49     skincare               Unknown     Mumbai       13646.770929

In [55]:
revenue_table = revenue_generated.pivot_table(
    index = ["Product type", "Customer demographics"],
    columns = "Location",
    values = "Revenue generated",
    aggfunc = "sum"
)


revenue_table

Location                               Bangalore       Chennai         Delhi  \
Product type Customer demographics
cosmetics    Female                 16676.440899  11314.009494  19604.500784
             Male                            NaN   7910.886916   1935.206794
             Non-binary              2633.121981   5149.998350           NaN
             Unknown                         NaN   7087.052696  15889.969753
haircare     Female                  7014.887987           NaN   5709.945296
             Male                   27960.412629  10401.803509   2925.675170
             Non-binary             14267.290447   2556.767361           NaN
             Unknown                 2411.754632  15764.878063   5990.280300
skincare     Female                  8293.407394  14047.157819  16032.133336
             Male                    4052.738416   9655.135103   8232.334829
             Non-binary             19291.669497   1889.073590   4707.654962
             Unknown                         NaN  33366.052848           NaN

Location                                 Kolkata        Mumbai
Product type Customer demographics
cosmetics    Female                  8318.903195  13634.687826
             Male                            NaN  11544.871788
             Non-binary              1061.618523  17390.742806
             Unknown                14783.050138   6586.204057
haircare     Female                          NaN           NaN
             Male                    4941.119421   4370.916580
             Non-binary              6088.021480  16059.067797
             Unknown                23998.572346  23993.997587
skincare     Female                 24543.430678  16324.984415
             Male                   23267.530496   9435.762609
             Non-binary             20503.754242   4767.020484
             Unknown                 9571.550487  13646.770929

In [56]:

cleaned_revenue_table = cleaned_data = revenue_table.fillna(0)
cleaned_revenue_table

Location                               Bangalore       Chennai         Delhi  \
Product type Customer demographics
cosmetics    Female                 16676.440899  11314.009494  19604.500784
             Male                       0.000000   7910.886916   1935.206794
             Non-binary              2633.121981   5149.998350      0.000000
             Unknown                    0.000000   7087.052696  15889.969753
haircare     Female                  7014.887987      0.000000   5709.945296
             Male                   27960.412629  10401.803509   2925.675170
             Non-binary             14267.290447   2556.767361      0.000000
             Unknown                 2411.754632  15764.878063   5990.280300
skincare     Female                  8293.407394  14047.157819  16032.133336
             Male                    4052.738416   9655.135103   8232.334829
             Non-binary             19291.669497   1889.073590   4707.654962
             Unknown                    0.000000  33366.052848      0.000000

Location                                 Kolkata        Mumbai
Product type Customer demographics
cosmetics    Female                  8318.903195  13634.687826
             Male                       0.000000  11544.871788
             Non-binary              1061.618523  17390.742806
             Unknown                14783.050138   6586.204057
haircare     Female                     0.000000      0.000000
             Male                    4941.119421   4370.916580
             Non-binary              6088.021480  16059.067797
             Unknown                23998.572346  23993.997587
skincare     Female                 24543.430678  16324.984415
             Male                   23267.530496   9435.762609
             Non-binary             20503.754242   4767.020484
             Unknown                 9571.550487  13646.770929

In [57]:
# plot a heat map of different product types classified by the customer demographics. Darker regions correspond to greater revenue and the shapes of the points depict the differnt product types generating the revenue.
# Google APIs

import requests
import googlemaps

API_KEY = 'AIzaSyD6m_vw3iLctkFUmC_N--2UMxhiOGQ3tS4'
gmaps = googlemaps.Client(key = API_KEY)

geocoded_data = []

def get_lat_lon(location):
    geocode_result = gmaps.geocode(location)
    if geocode_result:
        lat = geocode_result[0]["geometry"]['location']['lat']
        lon = geocode_result[0]["geometry"]['location']['lng']
        return lat, lon
    else:
        return None, None

get_lat_lon('Mumbai')

(19.0759837, 72.8776559)

In [58]:
import folium
from IPython.display import IFrame
india_map = folium.Map(location=[20.5937, 78.9629], zoom_start=5)
india_map2 = folium.Map(location=[20.5937, 78.9629], zoom_start=5)

In [59]:
revenue_generated[['Latitude', 'Longitude']] = revenue_generated['Location'].apply(lambda x: pd.Series(get_lat_lon(x)))

# To assign colors based on the customer demographics
def get_color(demographic):
    if demographic == "Female":
        return 'pink'
    elif demographic == "Male":
        return 'blue'
    elif demographic == "Non-binary":
        return 'purple'
    else:
        return 'gray'
    

for _, row in revenue_generated.iterrows():
    folium.CircleMarker(
        location = [row["Latitude"], row['Longitude']],
        radius = 15,
        color = get_color(row["Customer demographics"]),
        fill = True,
        fill_color = get_color(row["Customer demographics"]),
        fill_opacity = 0.4,
    ).add_to(india_map)

india_map.save("india_map.html")
IFrame("india_map.html", width = 800, height = 600)
# india_map

![Map Screenshot](map1.png)

In [60]:
from folium.plugins import HeatMap

# Prepare data for heatmap
heat_data = [[row["Latitude"], row["Longitude"], row["Revenue generated"]] for _, row in revenue_generated.iterrows()]

# Add HeatMap to the map
HeatMap(heat_data).add_to(india_map2)

india_map2.save("india_map2.html")
IFrame("india_map2.html", width = 800, height = 600)

![Map Screenshot](map2.png)

### Hypothesis Testing

To check if there are significant differences in the revenue generated across different customer demographics, we will conduct hypothesis testing.

- **Null Hypothesis**: There is no significant difference in the revenue generated across customer demographics.  
  $$ H_0: \mu_1 = \mu_2 = \mu_3 = \dots = \mu_k $$

- **Alternative Hypothesis (H₁)**: There is a significant difference in the revenue generated across customer demographics.  
  $$ H_1: \text{At least one } \mu_i \neq \mu_0 $$

We will perform a **One-Way ANOVA** to test for overall differences in revenue across customer demographics, and then use **pairwise Z-tests** (post-hoc analysis) to identify which specific demographics are significantly different from each other.

### Two-Tailed Test
The test will be two-tailed, meaning we are testing if the revenue generated is significantly different (either higher or lower) for any of the demographics.

In [61]:
# One-Way ANOVA for Multiple Demographics

# First, we need to calculate the sample mean for each group - male, female, non-binary, and not defined

# sample mean of the male group

male_sample_mean = revenue_generated[revenue_generated["Customer demographics"] == "Male"]["Revenue generated"].mean()
female_sample_mean = revenue_generated[revenue_generated["Customer demographics"] == "Female"]["Revenue generated"].mean()
binary_sample_mean = revenue_generated[revenue_generated["Customer demographics"] == "Non-binary"]["Revenue generated"].mean()
unknown_sample_mean = revenue_generated[revenue_generated["Customer demographics"] == "Unknown"]["Revenue generated"].mean()

In [62]:
# Calculate the grand mean
grand_mean = revenue_generated["Revenue generated"].mean()
grand_mean

11552.096374760173

In [63]:
male_sample_variance = revenue_generated[revenue_generated["Customer demographics"] == "Male"]["Revenue generated"].var()
female_sample_variance = revenue_generated[revenue_generated["Customer demographics"] == "Female"]["Revenue generated"].var()
binary_sample_variance = revenue_generated[revenue_generated["Customer demographics"] == "Non-binary"]["Revenue generated"].var()
unknown_sample_variance = revenue_generated[revenue_generated["Customer demographics"] == "Unknown"]["Revenue generated"].var()

n_male = len(revenue_generated[revenue_generated["Customer demographics"] == "Male"])
n_female = len(revenue_generated[revenue_generated["Customer demographics"] == "Female"])
n_non_binary = len(revenue_generated[revenue_generated["Customer demographics"] == "Non-binary"])
n_unknown = len(revenue_generated[revenue_generated["Customer demographics"] == "Unknown"])


# Finding the Between-group Sum of Squares (SSB)
SSB = (n_male * (male_sample_mean - grand_mean)**2 +
       n_female * (female_sample_mean - grand_mean)**2 +
       n_non_binary * (binary_sample_mean - grand_mean)**2 +
       n_unknown * (unknown_sample_mean - grand_mean)**2)

print(f"The Between-group Sum of Squares value comes out to be {SSB}")

The Between-group Sum of Squares value comes out to be 273221768.93285924

In [64]:
# Calculating the Within-Group Sum of Squares 
SSW_male = ((revenue_generated[revenue_generated["Customer demographics"] == "Male"]["Revenue generated"] - male_sample_mean)**2).sum()
SSW_female = ((revenue_generated[revenue_generated["Customer demographics"] == "Female"]["Revenue generated"] - female_sample_mean)**2).sum()
SSW_non_binary = ((revenue_generated[revenue_generated["Customer demographics"] == "Non-binary"]["Revenue generated"] - binary_sample_mean)**2).sum()
SSW_unknown = ((revenue_generated[revenue_generated["Customer demographics"] == "Unknown"]["Revenue generated"] - unknown_sample_mean) **2).sum()

SSW = SSW_male + SSW_female + SSW_non_binary + SSW_unknown

print(f"The Within-Group Sum of Squares value comes out to be {SSW}")

The Within-Group Sum of Squares value comes out to be 2603869051.53251

In [65]:
SST = ((revenue_generated["Revenue generated"] - grand_mean)**2).sum()
print(f"The total sum of square values comes out to be {SST}")

The total sum of square values comes out to be 2877090820.465369

In [66]:
#VERIFICATION 
SST_verify = SSW + SSB 
SST_verify

2877090820.465369

In [67]:
# Find the F-Ratio
dof_bw = 3 # Number of groups is 4 and dof is k - 1, where k is the number of groups
dof_within = len(revenue_generated) - 4

MSB = SSB/dof_bw
MSW = SSW/dof_within

In [68]:
F_ratio = MSB/MSW
print(f"F-Ratio: {F_ratio}")

F-Ratio: 1.608913648904438

In [69]:
from scipy.stats import f

p_value = 1 - f.cdf(F_ratio, dfn=dof_bw, dfd=dof_within)
print(f"P-Value: {p_value}")

P-Value: 0.20022485264829437

Conclusion: There is no significant evidence to suggest that the revenue generated differs across customer demographics. In simpler terms, the differences in revenue means across the demographics (Male, Female, Non-binary, Unknown) are likely due to random variation and is not statistically significant.

### Interactive Dashboards:

1) **Sales and Revenue Overview**:  

   This dashboard allows users to gain an overview of sales performance with interactive features. Users can filter the data by **product type** (haircare, skincare, cosmetics) or **location** to analyze specific segments. Hovering over data points will display detailed values, such as **revenue generated** and **total units sold**, providing a granular view of the sales performance across different categories. This interactive interface helps stakeholders make informed decisions based on real-time data insights.


   https://public.tableau.com/app/profile/arundhati.singh4398/viz/SupplyFlow/Dashboard1?publish=yes

   ![Sales and Revenue Overview](./dashboard.png)